<footer>
    <div class="container">
        <div class="logo">
            <a routerLink="{{footer_logo.routerlink}}">
                <img style="width: 100%;" src="{{footer_logo.src}}" alt="{{footer_logo.alt}}">
            </a>
        </div>
        <div class="info_contact">
            <div class="info">
                <ul style="list-style-type: none; padding: 0; margin: 0;">
                    <li><h5>Информация</h5></li>
                    <li *ngFor="let item of footer_menu"><a class="a_info" routerLink="{{item.routerlink}}">{{item.a_text}}</a></li>
                </ul>
            </div>
            <div class="contact">
                <h5>Контакты</h5>
                <div class="map">
                    <div class="map_img">
                        <img style="width: 100%;" src="{{contact_footer.map_img}}" alt="{{contact_footer.alt}}">
                    </div>
                    <div class="map_text">
                        <address><a class="a_contact" href="{{contact_footer.map_href}}" target="{{contact_footer.target}}">{{contact_footer.map_text}}</a></address>
                    </div>
                </div>
                <div class="phone">
                    <div class="phone_img">
                        <img style="width: 100%;" src="{{contact_footer.phone_img}}" alt="{{contact_footer.alt}}">
                    </div>
                    <div class="phone_text">
                        <a class="a_contact" href="#" target="{{contact_footer.target}}">{{contact_footer.phone_text}}</a>
                    </div>
                </div>
                <div class="email">
                    <div class="email_img">
                        <img style="width: 100%;" src="{{contact_footer.email_img}}" alt="{{contact_footer.alt}}">
                    </div>
                    <div class="email_text">
                        <a class="a_contact" href="{{contact_footer.email_href}}" target="{{contact_footer.target}}">{{contact_footer.email_text}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="media">
            <h5>Социальные сети</h5>
            <div class="media_icon">
                <div class="size" *ngFor="let item of media_footer">
                  <a href="{{item.href}}" target="{{item.target}}">
                    <img style="width: 100%;" src="{{item.src}}" alt="{{item.alt}}">
                  </a>
                </div>
            </div>
        </div>
    </div>
    <div class="digital">
        <p class="digital_text">© 2019 Digital Project. Все права защищены.</p>
    </div>
</footer>
