<app-header></app-header>
<div class="main">
  <div class="container">
    <div class="div_title">
      <h2 class="h2_title"> <span class="span_title"> НАШИ</span> ПРОЕКТЫ      </h2>
    </div>
    <div class="div_section">
      <div class="child" *ngFor="let item of data">
        <div class="divImageChild">
          <img src="{{item.image}}" alt="No image" class="imageChild">
        </div>
        <div class="divTextsChild">
          <h3 class="h3_child">{{item.title}}</h3>
          <p class="p_child">{{item.subtitle}}</p>
          <div class="div_button">
            <div class="textDivBtn">
             <a  routerLink="{{item.rout}}" class="linkBtn">  {{item.link}} <img src="{{item.vector}}" alt="No image" class="image_vector"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="pages">
          <p class="change_page">{{num}}</p>
          <span></span>
          <p class="fixed_page">05</p>
        </div>
        <button [disabled]="bool_1" (click) ="click_prev()" class="prev">&#8592;</button>
        <button [disabled]="bool_2" (click) ="click_next()" class="next">&#8594;</button>
      </div>
  </div>
</div>
</div>
<app-footer></app-footer>

