<nav>
    <div class="container">
        <div class="img">
            <a routerLink="/home"><img style="width: 100%;" src="{{header_logo.src}}" alt="{{header_logo.alt}}"></a>
        </div>
        <div class="menu">
            <ul style="list-style-type: none; padding: 0;">
                <li *ngFor="let item of data">
                  <a class="a_menu a_hover" routerLink="{{item.routerlink}}" routerLinkActive="active">{{item.text}}</a>
                </li>
            </ul>
        </div>
        <div class="dropdown_menu">
            <div class="menu_line" (click)="click_on()"></div>
            <div class="menu_line" (click)="click_on()"></div>
            <div class="menu_line" (click)="click_on()"></div>
            <div class="mini_menu" id="menu_click">
                <div>
                    <button (click)="click_off()">X</button>
                </div>
                <ul style="list-style-type: none; padding: 0;">
                    <li *ngFor="let item of data">
                      <a class="a_menu" routerLink="{{item.routerlink}}" routerLinkActive="active">{{item.text}}</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</nav>
