<nav>
    <div class="container">
        <div class="img">
            <a routerLink="/home"><img style="width: 100%;" src="assets\images\header\Group 11.png" alt="no image"></a>
        </div>
        <div class="menu">
            <ul style="list-style-type: none; padding: 0;">
                <li><a class="a_menu a_hover" routerLink="/home" routerLinkActive="active">ГЛАВНАЯ</a></li>
                <li><a class="a_menu a_hover" routerLink="/gallery" routerLinkActive="active">ГАЛЕРЕЯ</a></li>
                <li><a class="a_menu a_hover" routerLink="/project" routerLinkActive="active">ПРОЕКТЫ</a></li>
                <li><a class="a_menu a_hover" routerLink="/certificate" routerLinkActive="active">СЕРТИФИКАТЫ</a></li>
                <li><a class="a_menu a_hover" routerLink="/contacts" routerLinkActive="active">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="dropdown_menu">
            <div class="menu_line"></div>
            <div class="menu_line"></div>
            <div class="menu_line"></div>
            <div class="mini_menu">
                <ul style="list-style-type: none; padding: 0;">
                    <li><a class="a_menu" routerLink="/home" routerLinkActive="active">ГЛАВНАЯ</a></li>
                    <li><a class="a_menu" routerLink="/gallery" routerLinkActive="active">ГАЛЕРЕЯ</a></li>
                    <li><a class="a_menu" routerLink="/project" routerLinkActive="active">ПРОЕКТЫ</a></li>
                    <li><a class="a_menu" routerLink="/certificate" routerLinkActive="active">СЕРТИФИКАТЫ</a></li>
                    <li><a class="a_menu" routerLink="/contacts" routerLinkActive="active">КОНТАКТЫ</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
