.container {
  margin:auto;
  padding: 45px 0;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.img {
  width: 70px;
}
ul {
  display: flex;
}
li {
  display: inline-block;
  margin-right: 60px;
  position: relative;
}
.a_menu {
  text-decoration: none;
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
}
.active {
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 4px 0;
}
.a_hover:hover {
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 4px 0;
}
.menu_line {
  width: 30px;
  height: 4px;
  background-color: black;
  margin-bottom: 5px;
}
.dropdown_menu {
  display: none;
  position: relative;
  padding: 5px 0;
}
.mini_menu {
  display: none;
  position: fixed;
  z-index: 2;
  background-image: linear-gradient(#c0d3e1, white 70%);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 15px;
}
.mini_menu ul li {
  display: block;
  margin: 5px 0;
}
.mini_menu div {
  text-align: right;
  margin-top: 20px;
}
button {
  border: 0;
  font-size: 25px;
  padding: 2px 20px;
}
/* .dropdown_menu:hover .mini_menu{
  display: inline-block;
} */
@media screen and (max-width: 1280px){
  .container{
    width: 1000px;
  }
  ul li:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 1080px){
  .container{
    width: 800px;
  }
}
@media screen and (max-width: 880px){
  .container{
    width: 600px;
    flex-direction: column;
    align-items: center;
  }
  .menu {
    width: 100%;
    margin-top: 30px;
  }
  ul {
    width: 100%;
    justify-content: space-between;
  }
  li{
    margin: 0;
  }
}
@media screen and (max-width: 680px){
  .container{
    width: 400px;
    flex-direction: row;
    align-items: flex-start;
  }
  .menu {
    display: none;
  }
  .dropdown_menu {
    display: inline-block;
  }
  ul{
    margin: 20px 0;
    align-items: center;
    flex-direction: column;
  }
  .mini_menu ul li {
    margin: 10px 0;
  }
  .a_menu {
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (max-width: 480px){
  .container{
    width: 270px;
  }
}



