<nav>
    <div class="container">
        <div class="img">
            <a href="#"><img style="width: 100%;" src="assets\images\header\Group 11.png" alt="no image"></a>
        </div>
        <div class="menu">
            <ul style="list-style-type: none; padding: 0;">
                <li>
                    <a class="a_menu babam" routerLink="/glavnaya" routerLinkActive="active">ГЛАВНАЯ</a>
                    <div class="a_hover"></div>
                </li>
                <li>
                    <a class="a_menu" routerLink="/galeria" routerLinkActive="active">ГАЛЕРЕЯ</a>
                    <div class="a_hover"></div>
                </li>
                <li>
                    <a class="a_menu" routerLink="/proekts" routerLinkActive="active">ПРОЕКТЫ</a>
                    <div class="a_hover"></div>
                </li>
                <li>
                    <a class="a_menu" routerLink="/sercevikati" routerLinkActive="active">СЕРТИФИКАТЫ</a>
                    <div class="a_hover"></div>
                </li>
                <li>
                    <a class="a_menu" routerLink="/contacts" routerLinkActive="active">КОНТАКТЫ</a>
                    <div class="a_hover"></div>
                </li>
            </ul>
        </div>
        <div class="dropdown_menu">
            <div class="menu_line"></div>
            <div class="menu_line"></div>
            <div class="menu_line"></div>
            <div class="mini_menu">
                <ul style="list-style-type: none; padding: 0;">
                    <li><a class="a_menu" routerLink="/glavnaya" routerLinkActive="active">ГЛАВНАЯ</a></li>
                    <li><a class="a_menu" routerLink="/galeria" routerLinkActive="active">ГАЛЕРЕЯ</a></li>
                    <li><a class="a_menu" routerLink="/proekts" routerLinkActive="active">ПРОЕКТЫ</a></li>
                    <li><a class="a_menu" routerLink="/sercevikati" routerLinkActive="active">СЕРТИФИКАТЫ</a></li>
                    <li><a class="a_menu" routerLink="/contacts" routerLinkActive="active">КОНТАКТЫ</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
