.container {
  margin:auto;
  padding: 45px 0;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.img {
  width: 70px;
}
.menu{
  display: flex;
  justify-content: space-between;
}
li {
  display: inline-block;
  margin-right: 60px;
}
.a_menu {
  text-decoration: none;
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
}
.active {
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 4px 0;
}
.menu_line {
  width: 30px;
  height: 4px;
  background-color: black;
  margin-bottom: 5px;
}
.dropdown_menu {
  display: none;
  position: relative;
  padding: 20px 0;
}
.mini_menu {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: red;
  right: 0;
  padding: 0 15px;
}
.mini_menu ul li {
  display: block;
  margin: 5px 0;
}
.dropdown_menu:hover .mini_menu{
  display: inline-block;
}
@media screen and (max-width: 1280px){
  .container{
    width: 1000px;
  }
}
@media screen and (max-width: 1080px){
  .container{
    width: 800px;
  }
}
@media screen and (max-width: 880px){
  .container{
    width: 90%;
  }
  .menu {
    display: none;
  }
  .dropdown_menu {
    display: inline-block;
  }
}
