.container {
    width: 1170px;
    margin: auto;
}
img {
    width: 100%;
    height: 100%;
}
.flex_for_text_img {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text_titel {
    width: 331px;
    padding-top: 362px;
}
.text_img {
    width: 770px;
    height: 830px;
    position: relative;
}
h3 {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin: 0;
}
h2 {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
    margin: 0;
}
.buttons {
    margin: 90px 0;
    width: 130px;
    display: flex;
    justify-content: space-between;
}
.prev {
    width: 53px;
    height: 53px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
}
.next {
    width: 53px;
    height: 53px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
}
.pages {
    width: 142px;
    display: flex;
    justify-content: space-between;
}
.change_page, .fixed_page {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #BDBDBD;
}
span {
    border: 1px solid #E0E0E0;
    transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
}
.button_in_img {
    position: absolute;
    width: 222px;
    height: 71px;
    left: 0px;
    bottom: 0px;
    border: none;
    background: #FFFFFF;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #333333;
}
.button_in_img > span {
    margin-left: 15px;
    border: none;
}
.about_company {
    width: 100%;
    background: #FBFBFB;
    display: flex;
    justify-content: space-between;
    padding: 30px 70px 30px 100px;
    margin-bottom: 150px;
    margin-top: 120px;
}
.img_company {
    width: 56%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;  
}
.img_part_1 {
    width: 48%;
    position: relative;
}
.img_part_2 {
    width: 48%;
}
.img_part_1 div:nth-child(1) {
    width: 100%;
    height: 265px;
    position: absolute;
    top: -30px;
}
.img_part_1 div:nth-child(2) {
    width: 100%;
    height: 140px;
    position: absolute;
    bottom: -60px;
}
.text_company {
    width: 42%;
}
.text_company > h2 {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}
.text_company > p {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}
.text_company > button {
    background: #FFFFFF;
    padding: 30px 60px;
    border: none;
}
.text_company > button > span {
    margin-left: 15px;
    border: none;
}
.zadacha {
    width: 100%;
    margin-bottom: 120px;
}
.zadacha > h2 {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}
.child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.child div:nth-child(1) {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.child div:nth-child(2)  {
    width: 49%;
    display: flex;
    justify-content: space-between;
}
.zadacha_img {
    width: 20% !important;
}
.child div p {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
    margin: 0;
}
.zadacha_text {
    width: 70% !important;
}
.proects {
    width: 100%;
    margin-bottom: 120px;
}
.proects > h2 {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}
.img {
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img div:nth-child(1), .img div:nth-child(2){
    width: 49%;

}
.img div:nth-child(3) {
    width: 22%;
}
.img div:nth-child(4) {
    width: 44%;
}
.img div:nth-child(5) {
    width: 30%;
}
.img_hover {
    height: 250px;
    margin-bottom: 30px;
    position: relative;
}
.p_hover {
    padding-left: 70px;
    padding-top: 40px;
    background: #333333a3;
    display: none;
} 
.img div:nth-child(5) > .p_hover, .img div:nth-child(3) > .p_hover {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}
.img div:nth-child(3) .p_hover p {
    font-size: 50px;
    line-height: 55px;
}
.img_hover:hover .p_hover {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    word-break: break-word;
}
.p_hover > p {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 9px;
}
.p_hover > button {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #33333300;
    border: none;
}
.p_hover > button > span {
    border: none;
    margin-left: 15px;
}
.all_proects {
    width: 100%;
    text-align: right;
}
.all_proects > button {
    border: none;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #333333;
    padding: 30px 39px;
}
.all_proects > button > span {
    border: none;
    margin-left: 15px;
}
.contact {
    width: 100%;
    margin-bottom: 120px;
}
.contact > h2 {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin-bottom: 22px;
}
.contact > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contact_form {
    width: 35%;
}
.contact_img {
    width: 63%;
    height: 369px;
}
.input {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 0 15px 21px;
    border: none;
    background: #F3F3F3;
}
form > button {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #333333;
    color: #FFFFFF;
    padding: 30px 47px;
    border: none;
}
form > button > span {
    border: none;
    margin-left: 15px;
}
textarea {
    width: 100%;
    padding: 15px 0 0 21px;
    background: #F3F3F3;
    border: none;
}
label {
    position: relative;
    margin: 45px 0;
    display: block;
}
.message {
    position: absolute;
    color: red; 
    top: 35px;
    left: 0;
    font-size: 17px; 
    padding-left: 10px;
}
.input_text {
    margin-left: 35px;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #333333;
}
.message_symbol {
    border: 0;
    position: absolute;
    top: 10px;
    color: red;
}
@media screen and (max-width: 1280px){
    .container{
      width: 1000px;
    }
    .text_titel {
        padding-top: 175px;
    }
    .text_img {
        width: 560px;
    }
    .proects_img_part {
        flex-wrap: wrap;
    }
    .part_2_photo_1,.part_2_photo_3 {
        width: 49%;
    }
    .part_2_photo_2 {
        width: 100%;
        order: 3;
        margin-top: 30px;
    }
    .p_hover {
        padding-left: 30px;
    }
    .p_hover > p {
        font-size: 49px !important;
        line-height: 51px !important;
    }
    .img div:nth-child(3) .p_hover p {
        font-size: 39px !important;
        line-height: 44px !important;
    }
}
@media screen and (max-width: 1080px){
    .container{
      width: 800px;
    }
    .flex_for_text_img {
        flex-wrap: wrap;
    }
    .text_img {
        width: 100%;
    }
    .text_titel {
        order: 2;
        width: 100%;
        padding-top: 25px;
    }
    .prev, .next {
        margin: 0 15px;
    }
    .buttons, .pages, .change_page, .fixed_page {
        display: inline-block;
    }
    .buttons {
        margin: 45px 0;
        width: 170px;
    }
    .change_page, .fixed_page {
        margin: 0 5px;
    }
    .pages > span {
        display: inline-block;
        transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
        width: 43px;
        margin-bottom: 5px;
    }
    .about_company {
        flex-direction: column;
    }
    .img_company, .text_company {
        width: 100%;
    }
    .img_company {
        margin-bottom: 20px;
    }
    .img_part_1 div:nth-child(2) {
        bottom: 0;
    }
    .child {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .child > div {
        width: 90% !important;
        margin: 10px 0 ;
    }
    .zadacha_text {
        width: 70% !important;
    }
    .child  div p { 
        font-size: 22px !important;
        line-height: 50px !important;
    }
    .zadacha_img {
        width: 15% !important;
    }
    .img_hover {
        width: 49% !important;
    }
    .p_hover {
        padding-top: 40px !important;
    }
    .p_hover > p, .img div:nth-child(3) .p_hover p {
        font-size: 35px !important;
        line-height: 41px !important;
    }
    .contact > div {
        flex-wrap: wrap;
    }
    .contact_img {
        width: 100%;
        margin: 20px 0;
    }
    .contact_form {
        width: 60%;
        order: 2;
    }
}
@media screen and (max-width: 880px){
    .container{
      width: 600px;
    }
    .img_part_1 div {
        position: relative !important;
    }
    .img_part_2 {
        margin-bottom: 25px;
    }
    .child  div p {
        font-size: 19px !important;
        line-height: 35px !important;
    }
}
@media screen and (max-width: 680px){
    .container{
      width: 400px;
    }
    .text_img {
        height: 500px;
    }
    h3,h2 {
        font-size: 50px;
        line-height: 54px;
    }
    .about_company {
        padding: 30px;
    }
    .zadacha {
        margin-bottom: 50px;
    }
    .zadacha_text{
        width: 78% !important;
    }
    .child  div p {
        font-size: 15px !important;
        line-height: 26px !important;
    }
    .img_hover {
        width: 100% !important;
    }
    .p_hover > p, .img div:nth-child(3) .p_hover p {
        font-size: 48px !important;
        line-height: 53px !important;
    }
    .contact_form {
        width: 75%; 
    }
}
@media screen and (max-width: 480px){
    .container{
      width: 270px;
    }
    .text_img {
        height: 350px;
    }
    .dropdown_menu {
        padding: 10px 0;
    }
    .button_in_img {
        width: 135px;
        height: 45px;
    }
    h3, h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .img_part_1 div:nth-child(1) {
        height: 150px;
    }
    .pages {
        margin-left: 17px;
    }
    .about_company {
        padding: 30px 15px;
        margin: 80px 0;
    }
    .text_company  h2 {
        font-size: 41px;
    }
    .text_company > button { 
        padding: 20px 35px;
    }
    .zadacha  > h2, .proects > h2, .contact > h2 { 
        font-size: 49px;
        line-height: 43px; 
    }
    .child div { 
        flex-wrap: wrap !important;
    }
    .zadacha_text {
        width: 100% !important;
    }
    .zadacha_img     {
        width: 20% !important;
    }
    .zadacha_text p  {
        font-size: 14px;
    }
    .p_hover > p, .img div:nth-child(3) .p_hover p  {
        font-size: 34px !important;
        line-height: 44px !important;
    }
    .contact_form {
        width: 90%;
    }
}

