<app-header></app-header>
<section>
    <div class="container">
        <div class="flex_for_text_img">
            <div class="text_titel">
                <h3>PROJECT</h3>
                <h2>{{title_data.title}}</h2>
                <div class="buttons">
                    <button [disabled]="bool_1" (click) ="click_prev()" class="prev">&#8592;</button>
                    <button [disabled]="bool_2" (click) ="click_next()" class="next">&#8594;</button>
                </div>
                <div class="pages">
                    <p class="change_page">{{num}}</p>
                    <span></span>
                    <p class="fixed_page">{{num_end}}</p>
                </div>
            </div>
            <div class="text_img">
                <img src="{{title_data.src}}" alt="{{title_data.alt}}">
                <button routerLink="{{title_data.routerLink}}" class="button_in_img">{{title_data.button}} <span>&#8594;</span></button>
            </div>
        </div>
        <div class="about_company">
            <div class="img_company">
                <div class="img_part_1">
                    <div *ngFor="let item of company_img_1">
                        <img src="{{item.src}}" alt="{{item.alt}}">
                    </div>
                </div>
                <div class="img_part_2">
                    <img src="{{company_img_2.src}}" alt="{{company_img_2.alt}}">
                </div>
            </div>
            <div class="text_company">
                <h2>{{company_text.title}}</h2>
                <p>{{company_text.text}}</p>
                <button routerLink="{{company_text.routerLink}}">{{company_text.button}}<span>&#8594;</span></button>
            </div>
        </div>
        <div class="zadacha">
            <h2>Основные задачи</h2>
            <div class="child">
                <div *ngFor="let item of zadacha_data">
                    <div class="zadacha_img">
                        <img src="{{item.src}}" alt="{{item.alt}}">
                    </div>
                    <div class="zadacha_text">
                        <p>{{item.text}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="proects">
            <h2>Наши проекты</h2>
            <div class="img">
                <div *ngFor="let item of project_data" class="img_hover"><img src="{{item.src}}" alt="{{item.alt}}">
                    <div class="p_hover">
                        <p>{{item.text}}</p>
                        <button [routerLink]="[item.routerLink]">{{item.button}}<span>&#8594;</span></button>
                    </div>
                </div>
            </div>
            <div class="all_proects">
                <button routerLink="/project">ВСЕ ПРОЕКТЫ<span>&#8594;</span></button>
            </div>
        </div>
        <div class="contact">
            <h2>Связаться с нами</h2>
            <div>
                <div class="contact_form">
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <label>
                            <input class="input" formControlName="firstname" type="text" placeholder="{{form_text.firstNamePl}}" name="firstname">
                        </label>
                        <label>
                            <input class="input" formControlName="phonenumber" type="tel" placeholder="{{form_text.phoneNumberPl}}" name="phonenumber">
                            <p class="message" *ngIf="form.get('phonenumber')?.hasError('required') && (form.get('phonenumber')?.dirty || form.get('phonenumber')?.touched)">
                                {{form_text.phoneMessage1}}</p>
                            <p class="message" *ngIf="form.get('phonenumber')?.hasError('pattern')">
                                {{form_text.phoneMessage2}}</p>
                                <span *ngIf="form.get('phonenumber')?.hasError('required')" style="left: 130px;" class="message_symbol">{{form_text.message_symbol}}</span>
                        </label>
                        <label>
                           <input class="input" formControlName="email" type="text" placeholder="{{form_text.emailPl}}" name="email">
                            <p class="message" *ngIf="form.get('email')?.hasError('required') && (form.get('email')?.dirty || form.get('email')?.touched)">
                                {{form_text.emailMessage1}}</p>
                            <p class="message" *ngIf="form.get('email')?.hasError('pattern')">
                                {{form_text.emailMessage2}}</p>
                                <span *ngIf="form.get('email')?.hasError('required')" style="left: 62px;" class="message_symbol">{{form_text.message_symbol}}</span>
                        </label>
                        <label>
                            <input class="input" formControlName="product" type="text" placeholder="{{form_text.productPl}}" name="product">
                        </label>
                        <label>
                            <textarea name="comment" formControlName="comment" placeholder="{{form_text.commentPl}}" rows="9"></textarea>
                            <p class="message" *ngIf="form.get('comment')?.hasError('required') && (form.get('comment')?.dirty || form.get('comment')?.touched)">
                                {{form_text.commentMessage}}</p>
                                <span *ngIf="form.get('comment')?.hasError('required')" style="left: 90px;" class="message_symbol">{{form_text.message_symbol}}</span>
                        </label>
                        <label>
                            <input style="position: absolute;" type="checkbox" name="agree">
                            <p class="input_text">{{form_text.checkboxText}}</p>
                        </label>
                        <button [disabled]="form.invalid">ОТПРАВИТЬ<span>&#8594;</span></button>
                    </form>
                </div>
                <div class="contact_img">
                    <img src="{{form_text.img}}" alt="{{form_text.alt}}">
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
