<app-header></app-header>
<div class="main">
  <div class="container">
    <h2 class="h2_title"> <span class="span_title"> ПАРКИНГ НА</span> <br>  500 АВТОМОБИЛЕЙ      </h2>
    <div class="divSection">
      <div class="divImageTitle">
        <img src="/assets/JorImages/imagesJor4.png" alt="No image" class="ImageTitle">
      </div>
      <div class="divImageText" *ngFor="let item of data">
        <div class="divImage">
          <img src="{{item.image}}" alt="No image" class="ImageSection">
        </div>
        <div class="divTextSection">
          <p class="textSection">{{item.text}} </p>
        </div>
      </div>
      <div class="divImageEnd">
        <img src="/assets/JorImages/imagesJor6.png" alt="No image" class="ImageEnd">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
