<app-header></app-header>
<section>
  <div class="container">
    <div class="section_parts">
      <div class="text_part">
        <h3>КОНТАКТНАЯ</h3>
        <h2>ИНФОРМАЦИЯ</h2>
        <div class="contact_text">
          <p class="addres_text">
            <b>«Digital Project»</b> <br>
            г. Караганда, ул. Телевизионная 10
          </p>
          <p class="phonenumber">+7 (701) 77 76 811</p>
          <p class="contact_mail">Galym.sultanov@mail.ru</p>
            <button class="contact_button" (click)="openForm()">Орабтная связь</button>
        </div>
      </div>
      <div class="img_part">
        <img src="assets/images/map/Снимок%20экрана%202022-05-18%20150526.png" alt="no image">
      </div>
    </div>
  </div>
  <div class="hidden_block">
    <div class="content_block form_block">
      <div class="title">
      <h4>Задать вопрос
      </h4><span (click)="goPrevButton()">X</span>
      </div>
      <form [formGroup]="form">
        <input type="text" name="username" placeholder="Имя" formControlName="username">
        <div>
          <input type="tel" placeholder="Номер телефона" required name="tellnmber" formControlName="tellnmber">
        </div>
        <input type="email" name="email" required placeholder="E-mail" formControlName="email">
        <div>
          <input type="text" name="product" placeholder="Интересующий товар/услуга">
        </div>
        <textarea placeholder="Сообщение" name="sms" required formControlName="sms"></textarea>
        <div class="checkbox_block">
          <input type="checkbox" required name="secur" formControlName="secur">
          <label>Отправляя заявку Вы соглашаетесь
            с политикой
            конфиденциальности</label>
        </div>
        <button (click)="buttonSend()" type="submit" [disabled]="form.invalid">Отправить</button>
      </form>
    </div>
    <div class="thanks_block">
      <div class="content_block">
          <span (click)="goPrevButton()">X</span>
        <div class="img_block">
          <img src="assets/images/okay/ok.png" alt="no images">
        </div>
        <h5>Спасибо !</h5>
        <p>Ваше сообщение отправлено мы свяжемся с вами в ближайшее время</p>
        <button (click)="goPrevButton()">ВЕРНУТСЯ НАЗАД</button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
