<app-header></app-header>
<section>
  <div class="container">
    <div class="contact_block">
      <h2>
        КОНТАКТНАЯ
        <span>ИНФОРМАЦИЯ</span>
      </h2>
      <div class="block">
        <p>
          <b>«Digital Project»</b>
          <span>г. Караганда, ул. Телевизионная 10</span>
        </p>
        <p>
          <b>+7 (701) 77 76 811</b>
        </p>
        <p>Galym.sultanov@mail.ru</p>
      </div>
      <div class="button_block">
        <button type="button">Орабтная связь</button>
      </div>
    </div>
    <div class="map_block">
      <img src="./assets/images/map/Снимок%20экрана%202022-05-18%20150526.png" alt="No image">
    </div>
  </div>
</section>
<app-footer></app-footer>
