.container{
  width: 1360px;
  margin-left: auto;
}
.text_part h3{
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
  margin: 0;
}
.text_part h2{
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #333333;
  margin: 0 0 34px 0;
}
.contact_text .addres_text {
  font-family: 'TT Hoves';
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 43px 0;
  color: #333333;
}
.contact_text .phonenumber{
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 52px 0;
  color: #333333;
}
.contact_text .contact_mail{
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 32px 0;
  color: #333333;
}
button.contact_button{
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #333333;
  padding: 30px 43px;
  cursor: pointer;
}
.text_part{
  margin-right: 8%;
}
.img_part{
  width: 65%;
  height: 501px;
}
.img_part img{
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 120px;
}
.section_parts{
  display: flex;
  justify-content: space-between;
}
.hidden_block {
  width: 469px;
  height: 590px;
  padding: 26px 39px;
  position: absolute;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.content_block{
  width: 100%;

}
.content_block .title{
  display: flex;
  justify-content: flex-end;
}
.content_block h4{
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.04em;
  margin: 0 0 24px 0;
  text-align: center;
  color: #333333;
  padding-right: 98px;
  display: inline-block;
}
.content_block h4 + span{
  color: #C1C1C1;
  font-weight: 100;
  font-size: 25px;
  cursor: pointer;
}
form input{
  display: inline-block;
  margin-bottom: 10px;
  width: 391px;
  height: 46px;
  font-size: 20px;
}
textarea{
  width: 391px;
  height: 147px;
  resize: none;
}
.checkbox_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form .checkbox_block input[type="checkbox"]{
  height: 23px;
  width: 24px;
  margin: 0;
}
form input::placeholder{
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #8D8D8D;
  padding: 15px 341px 14px 21px;
}
form textarea::placeholder{
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #8D8D8D;
  padding-top: 15px;
  padding-left: 21px;
}
form .checkbox_block input[type="checkbox"] + label{
  font-family: 'TT Hoves';
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #333333;
  display: inline-block;
  width: 360px;
  margin-top: 5px;
}
form button{
  display: inline-block;
  width: 391px;
  height: 42px;
  background: #333333;
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 150px;
  margin-top: 40px;
}
.thanks_block .content_block span{
  display: block;
  text-align: right;
  color: #C1C1C1;
  font-weight: 100;
  font-size: 25px;
  cursor: pointer;
}
.thanks_block .content_block .img_block{
  height: 226px;
  width: 226px;
  margin: auto;
}
.thanks_block .content_block .img_block img{
  display: block;
  width: 100%;
}
.thanks_block .content_block h5{
  margin: 0;
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #333333;
  width: 100%;
  text-align: center;
}
.thanks_block .content_block p{
  margin: 0;
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #4F4F4F;
}
.thanks_block .content_block button{
  display: inline-block;
  padding: 15px 125px;
  background: #333333;
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 391px;
  height: 42px;
  cursor: pointer;
}
.thanks_block {
  display: none;
}
.form_block{
  display: none;
}
.hidden_block{
  display: none;
}
button:disabled{
  background: rgba(0,0,0,0.75);
}
@media screen and (max-width: 1360px) {
  .container{
    width: 1200px;
  }
}
@media screen and (max-width: 1280px) {
  .container{
    width: 1000px;
  }
  .img_part{
    width: 43%;
  }
}
@media screen and (max-width: 1085px) {
  .container{
    width: 880px;
    margin: auto;
  }
  .text_part{
    margin: 0;
  }
}
@media screen and (max-width: 880px) {
  .container{
    width: 95%;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 120px;
  }
  .section_parts{
    flex-direction: column-reverse;
  }
  .img_part{
    width: 100%;
    margin-top: 25px;
    margin-left: 0;
  }
  h2{
    font-size: 40px;
  }
  h2 span{
    font-size: 40px;
  }
}
@media screen and (max-width: 500px){
  .text_part h3{
    font-size: 45px;
    line-height: 45px;
  }
  .text_part h2{
    font-size: 45px;
    line-height: 45px;
  }
}
@media screen and (max-width: 480px) {
  .content_block {
    width: 315px;
    margin: auto;
  }

  form input, form textarea {
    width: 315px;
  }

  form .checkbox_block input[type="checkbox"] + label {
    width: 270px;
  }

  form button,.thanks_block .content_block button{
    width: 315px;
    padding: 0;
  }
  .hidden_block{
    width: 350px;
    padding: 5px 0 0 0;
  }
}
@media screen and (max-width: 360px){
  .hidden_block{
    width: 300px;
  }
  .content_block {
    width: 290px;
  }

  form input, form textarea {
    width: 290px;
  }

  form .checkbox_block input[type="checkbox"] + label {
    width: 200px;
  }

  form button,.thanks_block .content_block button{
    width: 290px;
  }
}
@media screen and (max-width: 350px){
  .text_part h3{
    font-size: 35px;
    line-height: 35px;
  }
  .text_part h2{
    font-size: 35px;
    line-height: 35px;
  }
}
