h2 span{
    display: block;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  h2{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase;
  }
  .container{
    width: 1200px;
    margin: auto;
  }
  .block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .child{
    width: 22%;
  }
.buttons {
  margin-top: 90px;
  margin-bottom: 90px;
  margin-left: auto;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.prev {
  width: 53px;
  height: 53px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
}
.next {
  width: 53px;
  height: 53px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
}
.change_page, .fixed_page {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #BDBDBD;
}
.change_page {
  color: #333333;
}
.change_page + span {
  border: 1px solid #E0E0E0;
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
}
.pages {
  width: 142px;
  display: flex;
  justify-content: space-between;
}
  @media screen and (max-width: 1280px){
    .container{
      width: 1000px;
    }
  }
  @media screen and (max-width: 1080px){
    .container{
      width: 900px;
    }
    .block{
      justify-content: space-evenly;
    }
    .child{
      width: 35%;
    }
  }
  @media screen and (max-width: 980px){
    .container{
      width: 700px;
    }
    .child{
      width: 48%;
      margin-bottom: 15px;
    }
  }
  @media screen and (max-width: 780px){
    .container{
      width: 95%;
    }
    .block{
      justify-content: center;
    }
    .child{
      width: 100%;
    }
  }
@media screen and (max-width: 500px){
  h2 span{
    font-size: 40px;
    line-height: 40px;
  }
  h2{
    font-size: 40px;
    line-height: 40px;
  }
  .block{
    justify-content: center;
  }
  .child{
    width: 300px;
  }
  .child img{
    display: block;
    width: 100%;
  }
}
