<app-header></app-header>
<section class="certificate">
  <div class="container">
    <h2>
      Сертификаты
      <span>
                КОМПАНИИ
            </span>
    </h2>
    <div class="block">
      <div class="child">
        <img src="assets/images/certificate/photo_2019-05-23_19-46-09.png" alt="No image">
      </div>
      <div class="child">
        <img src="assets/images/certificate/photo_2019-05-23_19-46-10-800x1067.png" alt="No image">
      </div>
      <div class="child">
        <img src="assets/images/certificate/photo_2019-05-23_19-46-11-800x1067.png" alt="No image">
      </div>
    </div>
    <div class="pagenum">
      <p>
        <span>/05</span>
      </p>
      <button id="prev"><</button>
      <button id="next">></button>
    </div>
  </div>
</section>
<app-footer></app-footer>
