@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-BlackItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-Black.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-BlackItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-Black.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-BlackItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-Black.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-Bold.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-Bold.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-Bold.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-BoldItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-BoldItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-DemiBold.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-BoldItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-DemiBold.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-DemiBold.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-DemiBoldItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-DemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-DemiBoldItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-DemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-DemiBoldItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-DemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-ExtraBold.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-ExtraBold.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-ExtraBold.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-ExtraBoldItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-ExtraBoldItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-ExtraBoldItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-ExtraLight.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-ExtraLight.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-ExtraLight.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-ExtraLightItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-ExtraLightItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves-ExtraLightItalic.woff2') format('woff2'),
  url('./assets/fonts/TTHoves-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
